:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  padding: 0px;
}

.loginwindow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.bigwindow {
  background-color: #afafaf;
  width: 70%;
  height: 60vh;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallerwindow {
  background-color: whitesmoke;
  width: 90%;
  height: 90%;
  border-radius: 50px;
  display: flex;

}

.leftbit {
  word-break: break-word;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.rightbit {
  word-break: break-word;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-bottom: 10%;
  display: grid;
}

.rightbit button {
  border-radius: 8px;
  border-style: solid;
  height: 25px;
  padding-inline: 20px;
  font-size: 16px;
  margin-top: 5px;
  border-width: 2px;
  border-color: #bfbfbf;
  color: #0f0f0f;
}

.rightbit input {
  border-radius: 12px;
  height: 50px;
  padding-inline: 20px;
  font-size: 16px;
  margin-top: 25px;
  border-width: 10px;
  border-style: solid;
  border-color: #bfbfbf;
}

.errorbox {
  background-color: #c56767;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
